# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user
GetData_CourseProject.Rproj
UCI HAR Dataset
FUCI_HAR_Dataset.zip
cleaned_data.txt
.RData
